<h1>Lista de posts:</h1>

{{#each posts}}
  <h2>Título: {{this.dataValues.titulo}}</h2>
  <p>Conteúdo: {{this.dataValues.conteudo}}</p>
  <small>Data de Criação: {{this.dataValues.createdAt}}</small>
  <hr />
{{/each}}